<div class="container">
  <h4>Add Employee</h4>
  <form (ngSubmit)="addEmployee()" class="employee-form">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="newEmployee.firstName"
        name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="newEmployee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" required [(ngModel)]="newEmployee.email" name="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="newEmployee.phoneNumber" name="phone">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" required [(ngModel)]="confirmPassword"
        name="confirmPassword">
    </div>
    <div class="form-group">
      <label for="roleId">Role</label>
      <select class="form-control" id="roleId" required [(ngModel)]="newEmployee.roleId" name="roleId">
        <option value="0" selected>Select role</option>
        <option value="1">Admin</option>
        <option value="2">Staff</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Employee</button>
  </form>
</div>

<div style="margin-top: 20px;">
  <hr>
  <h4>Employees List</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" class="employee-item">
        <td>{{ employee.firstName }} {{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.roleId === 1 ? 'Admin' : 'Staff' }}</td>
      </tr>
    </tbody>
  </table>
</div>